if SHIELD_SKELETYL_DONGLE || SHIELD_SKELETYL_LEFT || SHIELD_SKELETYL_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SKELETYL_DONGLE || SHIELD_SKELETYL_LEFT || SHIELD_SKELETYL_RIGHT

if SHIELD_SKELETYL_DONGLE

config ZMK_KEYBOARD_NAME
    default "skeletyl-w"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# Set this to the number of peripherals your dongle will have.
# For a unibody, this would be 1. If you have left and right halves, set it to 2, etc.
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

endif # SHIELD_SKELETYL_DONGLE
